[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C = US
ST = NY
L = New York
O = SSL Chat
OU = SSL Chat Server
CN = 192.168.1.246 

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 192.168.1.246
DNS.1 = localhost
